NET "fpgaClk" LOC = "P85" | IOSTANDARD = LVTTL;
NET "sck" LOC = "P97" | IOSTANDARD = LVTTL;
NET "sda" LOC = "P98" | IOSTANDARD = LVTTL;

NET "MDIO" LOC = "P5" | IOSTANDARD = LVTTL; #Pmod1<1>
NET "MDC" LOC = "P2" | IOSTANDARD = LVTTL; #Pmod1<2>

#NET "BsyTest" LOC = "P1" | IOSTANDARD = LVTTL; #Pmod1<3>
NET "sckTest" LOC = "P16" | IOSTANDARD = LVTTL; #Pmod1<4>
NET "sdaTest" LOC = "P88" | IOSTANDARD = LVTTL; #Pmod1<7>

NET "BsyTest" LOC = "P92" | IOSTANDARD = LVTTL; #Pmod1<8>
#NET "MDC" LOC = "P93" | IOSTANDARD = LVTTL; #Pmod1<9>
#NET "MDIOLoad" LOC = "P94" | IOSTANDARD = LVTTL; #Pmod1<10>
#NET "RST" LOC = "P102" | IOSTANDARD = LVTTL;